## Exercises, Part 1: `Decision Tree`
1. Read the Scikit-learn documentation on random forests [(see here)](https://scikit-learn.org/stable/modules/tree.html).
2. Train / Test the [decision tree model from sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier) to classify the  iris dataset, testing how the different parameters affect the  performance. You should test at least the parameters criterion  and max depth.
3. Test the decision tree on the [UCI Car dataset](https://archive.ics.uci.edu/ml/datasets/car+evaluation).
4. `(Optional)` Test the decision tree on other datasets of your interest.
5. Compare the results obtained on the different datasets and with  different parameters. You can use the random state parameter to  compare the different configurations.
6. `(Optional)` Use train/test split and/or k-fold cross-validation to better evaluate the result of your model.

In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# iris_dataset = load_iris()

In [3]:
# dir(iris_dataset)

In [4]:
# target_names_list = iris_dataset.target_names[iris_dataset.target]

In [5]:
# ir_df = pd.DataFrame(iris_dataset.data, columns=iris_dataset.feature_names)
# ir_df['target'] = target_names_list
# ir_df.shape

In [6]:
# (X_train, X_test, y_train, y_test) = train_test_split(ir_df.iloc[:,:-1], ir_df.iloc[:,-1], random_state=0, test_size=0.90)
# dtc = DecisionTreeClassifier()
# dtc.fit(X_train, y_train)
# (dtc.predict(X_test) == y_test).sum()/y_test.shape[0]

In [7]:
# (X_train, X_test, y_train, y_test) = train_test_split(ir_df.iloc[:,:-1], ir_df.iloc[:,-1], random_state=0, test_size=0.10)
# dtc = DecisionTreeClassifier(max_depth=1)
# dtc.fit(X_train, y_train)
# (dtc.predict(X_test) == y_test).sum()/y_test.shape[0]

# CAR

In [8]:
col_names = [
    "buying",
    "maint",
    "doors",
    "persons",
    "lug_boot",
    "safety",
    "class"
]

car_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', names = col_names, header=None, index_col=None)


# https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.c45-names
# https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data
# https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.names

In [9]:
car_df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [10]:
car_dict = {
    "buying":   ["vhigh", "high", "med", "low"][::-1],
    "maint":    ["vhigh", "high", "med", "low"][::-1],
    "doors":    ["2", "3", "4", "5more"],
    "persons":  ["2", "4", "more"],
    "lug_boot": ["small", "med", "big"],
    "safety":   ["low", "med", "high"],
    "class":    ["unacc", "acc", "good", "vgood"]
}

## Podejscie pierwsze:

In [11]:
car_df.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'], dtype='object')

In [12]:
# for name in car_df.columns:
#     car_df[name] = car_df[name].apply(lambda x: list(car_df[name].unique()).index(x))

In [13]:
# column = car_df['buying']

# def change_to_number(value):        
#     array_of_unique = column.unique()   
#     list_of_unique = list(array_of_unique)
#     index_of_value = list_of_unique.index(value)    
#     return index_of_value

# car_df['buying'] = car_df['buying'].apply(change_to_number)

## Podejscie drugie:

In [14]:
# for name in car_df.columns:
#     car_df[name] = car_df[name].apply(lambda x: np.where(car_df[name].unique()==x)[0][0])

In [15]:
# for key in car_dict.keys():
#         for (index, val) in enumerate(car_dict[key]):
#             car_df[key].loc[car_df[key] == val] = index
# new_df = car_df.apply(pd.to_numeric)

In [16]:
car_dict = {
    "buying":   ["vhigh", "high", "med", "low"],
    "maint":    ["vhigh", "high", "med", "low"],
    "doors":    ["2", "3", "4", "5more"],
    "persons":  ["2", "4", "more"],
    "lug_boot": ["small", "med", "big"],
    "safety":   ["low", "med", "high"],
    "class":    ["unacc", "acc", "good", "vgood"]
}
car_dict.keys()

dict_keys(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'])

In [53]:
def translate(dataframe, dictionary):
    
    new_df = dataframe.copy()
    
    for key in dictionary.keys():
        for (index, val) in enumerate(dictionary[key]):
            new_df[key].loc[new_df[key] == val] = index
            
    new_df = new_df.apply(pd.to_numeric)
    # new_df = new_df.convert_dtypes()
    return new_df

In [54]:
car_numeric = translate(car_df, car_dict)

In [55]:
indexy = np.array([1, 43, 900, 34, 3, 1690])

In [56]:
car_numeric.loc[indexy].buying

1       0
43      0
900     2
34      0
3       0
1690    3
Name: buying, dtype: int64

In [57]:
car_numeric.loc[indexy]

      buying  maint  doors  persons  lug_boot  safety  class
1          0      0      0        0         0       1      0
43         0      0      1        1         2       1      0
900        2      0      1        1         0       0      0
34         0      0      1        0         2       1      0
3          0      0      0        0         1       0      0
1690       3      3      2        1         2       1      2

In [58]:
X = car_numeric.drop(["class"], axis=1)
y = car_numeric["class"]

In [59]:
(X_train, X_test, y_train, y_test) = train_test_split(X, y, random_state=101, test_size=0.10)
dcf = DecisionTreeClassifier(random_state=12)
dcf = dcf.fit(X_train, y_train)
X_train.shape[0], X_test.shape[0], y_train.shape[0], y_test.shape[0]

(1555, 173, 1555, 173)

In [60]:
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

In [61]:
(np.array(y_test) == dcf.predict(X_test)).sum(), y_test.shape[0]

(170, 173)

In [62]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=12)
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=12)

In [63]:
(rfc.predict(X_test) == np.array(y_test)).sum(), y_test.shape[0]

(170, 173)