In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [194]:
dataset = pd.read_csv('adult.data', names=col_names)

In [195]:
col_names=['age', 
          'workclass',
          'fnlwgt',
          'education', 
          'education_num', 
          'marital_status', 
          'occupation', 
          'relationship', 
          'race', 
          'sex', 
          'capital_gain', 
          'capital_loss', 
          'hours_per_week', 
          'native_country',
          'salary']

In [196]:
dataset.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [205]:
dataset_clean.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [222]:
dataset_clean.replace(to_replace=' ?', value= np.nan, inplace= True)
new_dataset = dataset_clean.dropna(axis=0, how='all')
#dataset_clean.workclass.value_counts()
new_dataset
#dataset_clean

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,salary
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
32557,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32558,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32559,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32560,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [198]:
dataset_clean.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [201]:
#del dataset['fnlwgt']
dataset_clean = dataset.drop(['fnlwgt','education','capital_gain','capital_loss'], axis=1)

In [226]:
new_dataset.sample(50)

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,salary
10463,41,Private,10,Divorced,Adm-clerical,Unmarried,Black,Female,37,United-States,<=50K
1678,27,Federal-gov,10,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,<=50K
7315,26,Private,9,Never-married,Priv-house-serv,Other-relative,White,Female,15,Mexico,<=50K
24266,56,Private,4,Married-civ-spouse,Craft-repair,Husband,White,Male,26,United-States,<=50K
29158,67,Without-pay,9,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,12,Philippines,<=50K
16724,21,Private,9,Never-married,Sales,Not-in-family,White,Male,50,United-States,<=50K
15736,33,Federal-gov,14,Married-civ-spouse,Transport-moving,Husband,Black,Male,40,Nicaragua,<=50K
13998,42,Private,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,<=50K
20028,35,Private,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
28435,20,Private,9,Never-married,Adm-clerical,Own-child,White,Female,40,United-States,<=50K
13102,33,Private,9,Divorced,Exec-managerial,Not-in-family,White,Male,40,United-States,<=50K
7808,38,Private,10,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,40,Philippines,<=50K
13719,24,Local-gov,10,Never-married,Protective-serv,Own-child,White,Female,40,United-States,<=50K
17381,21,Private,9,Never-married,Machine-op-inspct,Own-child,White,Male,40,United-States,<=50K
21630,61,Private,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,20,United-States,<=50K
28777,18,Self-emp-not-inc,10,Never-married,Craft-repair,Not-in-family,White,Female,35,United-States,<=50K
214,54,Self-emp-inc,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
96,48,Self-emp-not-inc,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,>50K
24132,66,Private,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,40,United-States,<=50K
550,46,Self-emp-not-inc,10,Divorced,Exec-managerial,Not-in-family,White,Male,50,United-States,<=50K
31010,18,Private,10,Never-married,Transport-moving,Own-child,White,Male,30,United-States,<=50K
24603,35,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K
20216,45,Federal-gov,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,Puerto-Rico,>50K
5092,38,Private,10,Divorced,Craft-repair,Own-child,White,Male,58,Poland,<=50K
11470,37,Private,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K
13709,60,Private,9,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,<=50K
29168,39,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K
7060,46,Federal-gov,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,50,United-States,>50K
28781,24,Private,13,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,16,United-States,<=50K
27346,41,Private,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,<=50K
18935,43,Self-emp-inc,11,Married-civ-spouse,Exec-managerial,Other-relative,White,Male,50,United-States,>50K
2680,26,Local-gov,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,28,El-Salvador,<=50K
32422,47,Private,9,Divorced,Other-service,Unmarried,White,Female,32,United-States,<=50K
30082,62,Local-gov,9,Widowed,Adm-clerical,Not-in-family,White,Female,38,United-States,<=50K
17907,18,Private,7,Never-married,Prof-specialty,Own-child,White,Female,16,United-States,<=50K
10948,51,Private,6,Married-spouse-absent,Craft-repair,Other-relative,White,Male,40,United-States,<=50K
26831,30,Private,7,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
11571,17,Private,6,Never-married,Other-service,Own-child,Black,Male,20,United-States,<=50K
2415,39,Local-gov,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,>50K
17133,31,Private,9,Never-married,Other-service,Own-child,White,Female,38,United-States,<=50K
13001,62,Private,9,Widowed,Craft-repair,Unmarried,White,Male,40,United-States,<=50K
24550,28,Private,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
16347,46,State-gov,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,38,United-States,<=50K
23742,67,Private,9,Divorced,Sales,Not-in-family,White,Female,20,United-States,<=50K
22866,57,Private,3,Married-civ-spouse,Farming-fishing,Husband,White,Male,45,Mexico,<=50K
29583,47,Private,10,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
30326,56,Federal-gov,10,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,40,Laos,<=50K
16011,39,Private,9,Divorced,Adm-clerical,Not-in-family,White,Female,40,United-States,<=50K
6560,26,State-gov,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,50,India,<=50K
27278,17,Private,7,Never-married,Other-service,Own-child,White,Male,25,United-States,<=50K

In [234]:
new_dataset.isnull().sum()

age               0
workclass         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
hours_per_week    0
native_country    0
salary            0
dtype: int64

In [93]:
dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital-status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   hours-per-week  32561 non-null  int64
 9   native-country  32561 non-null  object
 10  salary          32561 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.7+ MB

In [154]:
dataset_clean.to_csv(r'C:\Users\Wojtek\OneDrive\Desktop\STRIVE SCHOOL\WojtekRepo\GROUP PROJECT\ADULT DATA\dataset_clean.csv', index =False, header=True)

In [232]:
new_dataset.to_csv(r'C:\Users\Wojtek\OneDrive\Desktop\STRIVE SCHOOL\WojtekRepo\GROUP PROJECT\ADULT DATA\new_dataset.csv', index =False, header=True)

In [231]:
new_dataset

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,salary
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
32557,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32558,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32559,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32560,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [228]:
X = new_dataset.iloc[:, :-1].values
y = new_dataset.iloc[:, -1].values

In [229]:
X

array([[39, ' State-gov', 13, ..., ' Male', 40, ' United-States'],
       [50, ' Self-emp-not-inc', 13, ..., ' Male', 13, ' United-States'],
       [38, ' Private', 9, ..., ' Male', 40, ' United-States'],
       ...,
       [58, ' Private', 9, ..., ' Female', 40, ' United-States'],
       [22, ' Private', 9, ..., ' Male', 20, ' United-States'],
       [52, ' Self-emp-inc', 9, ..., ' Female', 40, ' United-States']],
      dtype=object)

In [230]:
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,3,4,5,6,7,])], remainder='passthrough')
X = np.array(ct.fit_transform(X))