Let's start here.

In [1]:
import pandas as pd
import seaborn as sns
import IPython
import numpy as np
import sweetviz as sv

In [2]:
books_df = pd.read_csv("dataset.csv")
books_df.drop('url', axis = 1, inplace=True)
books_df.drop(books_df.columns[0], axis=1, inplace=True)

In [3]:
books_df.head(1)

,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places,awards_count
0,To Kill a Mockingbird,Harper Lee,95178,4751916,4.28,324,1960,True,"['Classics', 'Fiction', 'Historical']","Pulitzer Prize for Fiction (1961), Audie Award...",United States,4

In [7]:
# books_df.author.nunique(), books_df.shape
books_df.places.isna().sum()
books_df.places.replace(np.nan, "Unknown")

0       United States
1      United Kingdom
2      United Kingdom
3       United States
4             Unknown
            ...
609     United States
610     United States
611           Unknown
612    United Kingdom
613           Unknown
Name: places, Length: 614, dtype: object

In [5]:
anaylze_report = sv.analyze(books_df)
anaylze_report.show_html('analyze.html', open_browser = True)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)
Report analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [18]:
y = books_df['awards_count']
X = books_df

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places,awards_count
537,Madeline,Ludwig Bemelmans,2022,197982,4.23,44,1939,True,"['Childrens', 'Picture Books', 'Childrens']","Caldecott Medal Nominee (1940), Indies Choice ...",France,2
253,Song of Solomon,Toni Morrison,4216,90772,4.09,337,1977,False,"['Fiction', 'Classics', 'Historical']","Janet Heidinger Kafka Prize (1977), National B...",NaN,2
343,Rendezvous with Rama,Arthur C. Clarke,4226,139164,4.10,243,1973,True,"['Science Fiction', 'Fiction', 'Classics']","Hugo Award for Best Novel (1974), Nebula Award...",NaN,6
347,The Spy Who Came In from the Cold,John le Carré,4926,86477,4.06,224,1963,True,"['Fiction', 'Thriller', 'Mystery']","Somerset Maugham Award (1964), Edgar Award for...",Germany,4
363,The Bridge of San Luis Rey,Thornton Wilder,2128,30118,3.80,160,1927,False,"['Fiction', 'Classics', 'Historical']",Pulitzer Prize for Novel (1928),NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
281,A Clash of Kings,George R.R. Martin,24353,813647,4.41,969,1998,True,"['Fantasy', 'Fiction', 'Fantasy']","Nebula Award Nominee for Best Novel (1999), Lo...",NaN,3
413,The Haunting of Hill House,"Shirley Jackson,",16976,181481,3.83,182,1959,False,"['Horror', 'Classics', 'Fiction']",National Book Award Finalist for Fiction (1960),NaN,1
147,Catch-22,Joseph Heller,19042,745891,3.98,453,1961,True,"['Classics', 'Fiction', 'Historical']",National Book Award Finalist for Fiction (1962),NaN,1
233,The Chosen,Chaim Potok,4305,88385,4.04,304,1966,True,"['Fiction', 'Classics', 'Historical']","Edward Lewis Wallant Award (1967), National Bo...",United States,2
132,The Things They Carried,Tim O'Brien,14865,264421,4.13,246,1990,False,"['Fiction', 'Historical', 'Historical Fiction']","Pulitzer Prize Nominee for Fiction (1991), Chi...",NaN,4

In [32]:
compare_report = sv.compare([X_train, 'Train'], [X_test, 'Test'])
compare_report.show_html('compare.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)Report compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.