In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import bs4
from time import sleep
import time
import random
import matplotlib.pyplot as plt

In [2]:
pub_ratings = []
pub_reviews = []
pub_names = []
num_reviews = []
price_range = []

In [3]:


#for loop for all pages

for i in range(0,240,10):      # Number of pages plus one 
    url = "https://www.yelp.ie/search?find_desc=Pubs+%26+Bars&find_loc=london&ns=1&start={}".format(i)
    r = requests.get(url)
    soup_240 = BeautifulSoup(r.content, 'html.parser')
    time.sleep(random.randint(1,5))

#data filtering
     
    all_data = soup_240.findAll('div', class_="container__09f24__21w3G hoverable__09f24__2nTf3 margin-t3__09f24__5bM2Z margin-b3__09f24__1DQ9x padding-t3__09f24__-R_5x padding-r3__09f24__1pBFG padding-b3__09f24__1vW6j padding-l3__09f24__1yCJf border--top__09f24__8W8ca border--right__09f24__1u7Gt border--bottom__09f24__xdij8 border--left__09f24__rwKIa border-color--default__09f24__1eOdn")



#filling them with data

    for data in all_data:
       
        pub_names.append(data.find('a', class_='css-166la90').get_text(separator=' '))  

        try:
            num_reviews.append(data.find('span',class_='reviewCount__09f24__EUXPN').get_text(separator=' '))
        except Exception as e:
            num_reviews.append(None)

        try:
            pub_reviews.append(data.find('p', class_='css-e81eai').get_text(separator=' '))
        except Exception as e:
            pub_reviews.append(None)
        try:    

            price_range.append(data.find('span', class_='priceRange__09f24__2O6le').get_text(separator=' '))
        except Exception as e:
            price_range.append(None) 

        try:
            a = data.select(".overflow--hidden__09f24__3z7CX")[0]
            rating = a["aria-label"]
            rating = rating.split(" ")[0]
            rating = float(rating)
            pub_ratings.append(rating)
        except Exception as e:
            pub_ratings.append(None)

In [4]:
a['aria-label']
a['aria-label'].split(' ')[0]

'4'

In [5]:
data_touples = zip(pub_names, num_reviews, pub_ratings, price_range,pub_reviews)
df = pd.DataFrame(data_touples, columns=['pub_names', 'num_reviews','pub_ratings','price_range','pub_reviews'])

df.head(20)

,pub_names,num_reviews,pub_ratings,price_range,pub_reviews
0,The Harp,135,4.5,£,“One of my favorite pubs in London. It was a...
1,Cahoots Bar,106,4.5,££,“I loved my experience at Cahoots Bar ! Go to...
2,The Monkey Puzzle,53,4.5,££,“Very chill English proper pub close to the ...
3,The Crobar,43,4.5,£,"“ to the Chameleons ""Script of the Bridge."" We..."
4,The Queen’s Head,47,4.0,££,“Good little spot but I don't really get why t...
5,The Cauldron,10,4.5,None,“ that there was a magic themed bar where yo...
6,The Queens Arms,120,4.5,££,“ to the food....all really lovely and I will ...
7,The Ordnance,9,4.0,£,"“Traditional British pub , with local and som..."
8,Coach and Horses,26,4.0,££,"“ and horses pup. Nice old pub , seating very..."
9,Heist Bank,8,4.5,None,"“This is my goto bar ! Beers a great, always ..."
10,Princess Louise,131,4.5,££,"“ the bar . They serve Samuel Smith beer, a s..."
11,The Cauldron,10,4.5,None,“ that there was a magic themed bar where yo...
12,Coach and Horses,26,4.0,££,"“ and horses pup. Nice old pub , seating very..."
13,The Victoria,217,4.5,££,“I started a review for this pub in February...
14,The Churchill Arms,356,4.0,££,“! The inside holds an eclectic collection of ...
15,The Grazing Goat Marylebone,240,4.0,££,"“) to the Grazing Goat. The food is excellent,..."
16,The Red Lion,77,4.0,££,“ even referenced the place in some of his wor...
17,Cleveland Arms,8,5.0,££,“Excellent service and cozy pub . Do not miss...
18,The Walrus Bar and Hostel,23,4.0,£,“An ok pub . The beer was cold and service qu...
19,The King’s Head,21,4.0,££,“The steak and mushroom pie is absolute aces. ...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pub_names    230 non-null    object
 1   num_reviews  230 non-null    object
 2   pub_ratings  230 non-null    float64
 3   price_range  221 non-null    object
 4   pub_reviews  230 non-null    object
dtypes: float64(1), object(4)
memory usage: 9.1+ KB

In [9]:

#df.to_excel('LondonPubs.xlsx', engine='xlsxwriter')