In [36]:
import pandas as pd
import numpy as np

data = {
1:[2,2,1,4,5],
2:[2,2,1,4,5],
3:[2,2,1,4,5],
4:[1,2,2,1,4],
5:[1,2,2,2,1],
6:[1,2,2,1,4],
7:[1,2,3,4,5],
8:[1,2,2,1,4],
9:[1,2,3,4,2],
10:[1,2,2,1,3]}

n = 2
df_26 = pd.DataFrame(data)
#print(df_26)

indexes = []
for index, row in table.iterrows():
    counter = 0
    if index % n == 0:
        counter +=1
        indexes.append(index)


    
print(indexes)

NameError: name 'table' is not defined

In [5]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}


for el in data:

SyntaxError: unexpected EOF while parsing (<ipython-input-5-be5f55f72c2b>, line 15)

In [34]:
#add every 3rd 

total = 0
for i in range(1,50):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(list(range(1,50)))        
print(total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
543

In [44]:
cf= np.array([100,200,300,400,500])
print(cf)
print('last element = ',cf[-1])
print('every 2nd element :',cf[1:4:2])

[100 200 300 400 500]
last element =  500
every 2nd element : [200 400]