In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
df1= pd.read_csv(r'climate.csv')
df1

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.30,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.40,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.90,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.20,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.10,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420546,31.12.2016 23:20:00,1000.07,-4.05,269.10,-8.13,73.10,4.52,3.30,1.22,2.06,3.30,1292.98,0.67,1.52,240.0
420547,31.12.2016 23:30:00,999.93,-3.35,269.81,-8.06,69.71,4.77,3.32,1.44,2.07,3.32,1289.44,1.14,1.92,234.3
420548,31.12.2016 23:40:00,999.82,-3.16,270.01,-8.21,67.91,4.84,3.28,1.55,2.05,3.28,1288.39,1.08,2.00,215.2
420549,31.12.2016 23:50:00,999.81,-4.23,268.94,-8.53,71.80,4.46,3.20,1.26,1.99,3.20,1293.56,1.49,2.16,225.8
420550,01.01.2017 00:00:00,999.82,-4.82,268.36,-8.42,75.70,4.27,3.23,1.04,2.01,3.23,1296.38,1.23,1.96,184.9

In [3]:
df1=df1.drop(['Date Time'], axis=1)
df1

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,996.52,-8.02,265.40,-8.90,93.30,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,996.57,-8.41,265.01,-9.28,93.40,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,996.53,-8.51,264.91,-9.31,93.90,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,996.51,-8.31,265.12,-9.07,94.20,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,996.51,-8.27,265.15,-9.04,94.10,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420546,1000.07,-4.05,269.10,-8.13,73.10,4.52,3.30,1.22,2.06,3.30,1292.98,0.67,1.52,240.0
420547,999.93,-3.35,269.81,-8.06,69.71,4.77,3.32,1.44,2.07,3.32,1289.44,1.14,1.92,234.3
420548,999.82,-3.16,270.01,-8.21,67.91,4.84,3.28,1.55,2.05,3.28,1288.39,1.08,2.00,215.2
420549,999.81,-4.23,268.94,-8.53,71.80,4.46,3.20,1.26,1.99,3.20,1293.56,1.49,2.16,225.8
420550,999.82,-4.82,268.36,-8.42,75.70,4.27,3.23,1.04,2.01,3.23,1296.38,1.23,1.96,184.9

In [4]:


ss=StandardScaler()
df=pd.DataFrame(ss.fit_transform(df1), columns= df1.columns)
df

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,0.874230,-2.074013,-2.127441,-2.058615,1.049501,-1.323974,-1.535256,-0.780587,-1.536973,-1.539462,2.293606,-0.010271,-0.018931,-0.258922
1,0.880212,-2.120313,-2.173300,-2.115073,1.055570,-1.336896,-1.556766,-0.782629,-1.555797,-1.560712,2.344887,-0.015008,-0.022553,-0.445813
2,0.875426,-2.132184,-2.185058,-2.119531,1.085917,-1.339480,-1.559156,-0.784671,-1.559562,-1.563073,2.355894,-0.023106,-0.035159,-0.036268
3,0.873033,-2.108441,-2.160365,-2.083873,1.104125,-1.333019,-1.544816,-0.786713,-1.544502,-1.548907,2.329628,-0.020814,-0.037042,0.268295
4,0.873033,-2.103692,-2.156838,-2.079416,1.098056,-1.331727,-1.542426,-0.786713,-1.544502,-1.546546,2.324875,-0.021120,-0.035159,0.456340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420546,1.298949,-1.602704,-1.692376,-1.944214,-0.176513,-1.170208,-1.489847,-0.576373,-1.491794,-1.496963,1.924126,-0.015772,-0.022263,0.752827
420547,1.282199,-1.519602,-1.608890,-1.933814,-0.382265,-1.137904,-1.485067,-0.531447,-1.488029,-1.492241,1.835571,-0.008591,-0.016468,0.687069
420548,1.269039,-1.497046,-1.585373,-1.956100,-0.491514,-1.128859,-1.494627,-0.508983,-1.495559,-1.501685,1.809305,-0.009507,-0.015309,0.466723
420549,1.267842,-1.624073,-1.711189,-2.003643,-0.255415,-1.177961,-1.513746,-0.568205,-1.518148,-1.520574,1.938635,-0.003243,-0.012990,0.589009
420550,1.269039,-1.694117,-1.779389,-1.987300,-0.018709,-1.202512,-1.506576,-0.613132,-1.510619,-1.513491,2.009179,-0.007215,-0.015888,0.117167

In [5]:
df.shape

(420551, 14)

In [6]:
def pairing(data, seq_length=6):
    x=[]
    y=[]
    for i in range(0, (df.shape[0]-1)//seq_length, seq_length+1):
        seq= np.zeros((seq_length, df.shape[1]))
        for j in range(seq_length):
            seq[j]= data.values[i+j]
        x.append(seq)
        y.append(df['T (degC)'][i+seq_length])
    return np.array(x), np.array(y)
x,y = pairing(df)
print(x.shape)
print(y)

(10013, 6, 14)
[-2.02652589 -2.17017411 -2.18323304 ...  0.16618706  0.15550248
  0.15075378]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
X_train.shape

(8010, 6, 14)

In [9]:
nsamples, nx, ny = X_train.shape
X_train_d2 = X_train.reshape((nsamples,nx*ny))
X_train_d2

array([[ 8.26374118e-01, -5.37807946e-01, -6.00007841e-01, ...,
         4.09154132e-02,  4.42420185e-02, -1.63995306e+00],
       [ 4.99759349e-01,  2.36721024e+00,  2.30787770e+00, ...,
         2.94556951e-02,  4.81541066e-02, -7.42647180e-03],
       [ 8.13213816e-01,  1.95866446e-01,  1.27845435e-01, ...,
         2.56355660e-03, -8.35383329e-03,  3.99811099e-01],
       ...,
       [ 1.20503371e-01,  3.62071001e-01,  3.48905881e-01, ...,
        -7.97938407e-03, -1.89309605e-02,  6.70918263e-01],
       [-6.60740015e-01, -1.13020847e+00, -1.07152507e+00, ...,
         6.84185136e-03,  1.72920779e-02,  1.00086145e+00],
       [-1.28645256e+00, -2.92521766e+00, -2.81178815e+00, ...,
         2.65525665e-02,  3.69974108e-02, -2.15083023e-01]])

In [17]:
nsamples, nx, ny = X_test.shape
X_test_d2 = X_test.reshape((nsamples,nx*ny))
X_test_d2.shape

(2003, 84)

In [10]:
 np.shape(X_train_d2)

(8010, 84)

In [19]:
# y_train=np.reshape(y_train, (-1, 2))

y_train=y_train.reshape(-1,1)
y_train.shape
y_test=y_test.reshape(-1,1)

In [20]:
from sklearn.ensemble import RandomForestRegressor

clf= RandomForestRegressor()
clf.fit(X_train_d2, y_train)

<ipython-input-20-dfb28e767a4e>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train_d2, y_train)

RandomForestRegressor()

In [25]:
from sklearn.metrics import mean_absolute_error
pred= clf.predict(X_test_d2)
mean_absolute_error(y_test, pred)

0.0177690165516866